# dependencies

server/node_modules
/.pnp
.pnp.js

# images
/public/images

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# epub parser
epub_parser
server/uploadedBooks
templates