div.upload {
  .upload_form {
    form {
      input {
      }
      button {
      }
    }
  }
  .selectedFileData {
    &__single {
      p {
      }
    }
  }
  .parsedBook {
    &__image {
      width: 100%;
      img {
        display: block;
        margin: 10px auto;
        width: 70%;
        height: auto;
      }
    }
  }
}
