$font-size-normal: 18px;
$font-size-medium: calc(1.25 * $font-size-normal);
$font-size-large: calc(1.5 * $font-size-normal);

$font-color: wheat;
$font-color-secondary: rgb(207, 154, 154);

$blur: 2px;
